.audio {
    position: absolute;
    right: 40px;
    top: 8px;
    display: flex;
    align-items: center;
    width: 352px;
    height: 48px;
    background-color: rgba(234, 240, 250, 1);
    border-radius: 48px;
    padding: 12px 19px;
}

.audio img {
    width: 24px;
}

.time {
    margin-right: 12px;
}

.play {
    margin-right: 8px;
}

.timeScale {
    display: flex;
    width: 164px;
    margin-right: 12px;
}

.slider {
    width: 100%;
    height: 4px;
    background: rgba(173, 191, 223, 1);
    border-radius: 50px;
    appearance: none;
    cursor: pointer;
}

.frame:hover {
    filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(7477%) hue-rotate(236deg) brightness(93%) contrast(113%);
}

.close {
    opacity: 0;
    margin-left: 12px;
}

.close:hover {
    opacity: 1;
}