.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(94, 119, 147, 1);
    height: 60px;
}

.date {
    padding: 0 12px;
}
